@inject RecipeService RecipeService
@inject NavigationManager NavigationManager
@page "/"

<PageTitle>BakeBot</PageTitle>

<h1>Popular recipes</h1>
<FluentSearch @bind-Value="SearchValue"
              @bind-Value:after="Filter"
			  style="width: 100%;"
              Placeholder="Search for name" />

<FluentDataGrid Items="FilteredRecipes" TGridItem="Recipe" ShowHover="true" OnRowClick="OnRowClick">
	<PropertyColumn Property="@(r => r.Name)" Sortable="true"/>
	<TemplateColumn Title="Tags" Filtered="@(SelectedTags.Any())">
		<ChildContent>
			<FluentOverflow Style="width: 100%;">
				@foreach (var tag in context.Tags)
				{
					<FluentOverflowItem><FluentBadge>@tag</FluentBadge></FluentOverflowItem>
				}
			</FluentOverflow>
		</ChildContent>
		<ColumnOptions>
            <div class="search-box">
                <FluentAutocomplete TOption="string" Width="100%" OnOptionsSearch="@OnSearchAsync" @bind-SelectedOptions="@SelectedTags" @bind-SelectedOptions:after="@Filter"/>
            </div>
        </ColumnOptions>
	</TemplateColumn>
</FluentDataGrid>

@code {
	private IQueryable<Recipe>? Recipes { get; set; }
	private IQueryable<Recipe>? FilteredRecipes { get; set; }
	private IEnumerable<string> SelectedTags { get; set; } = new List<string>();
	private string SearchValue { get; set; } = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		var recipes = await RecipeService.ListRecipesAsync();
		Recipes = recipes.AsQueryable();
		FilteredRecipes = Recipes;
	}

	private void Filter()
	{
		if (Recipes == null)
			return;
		FilteredRecipes = Recipes;
		if (!string.IsNullOrWhiteSpace(SearchValue))
			FilteredRecipes = FilteredRecipes.Where(r => r.Name.Contains(SearchValue, StringComparison.OrdinalIgnoreCase));
		if (SelectedTags.Any())
			FilteredRecipes = FilteredRecipes.Where(r => r.Tags.Intersect(SelectedTags).Count() == SelectedTags.Count());
	}

	private async Task OnSearchAsync(OptionsSearchEventArgs<string> e)
    {
		if (FilteredRecipes == null)
			return;
		e.Items = FilteredRecipes.SelectMany(r => r.Tags).Distinct()
					.Where(i => i.StartsWith(e.Text, StringComparison.OrdinalIgnoreCase))
					.OrderBy(i => i);
		
		await Task.FromResult(true);
    }

	private void OnRowClick(FluentDataGridRow<Recipe> row)
	{
		if (row.Item != null)
			NavigationManager.NavigateTo($"/recipe/{row.Item.Id}");
	}
}